:root {
  --background: #ffffff;
  --foreground: #1c1917;
  --primary: #e11d48;
  --primary-foreground: #fff1f2;
  --secondary: #fef2f2;
  --secondary-foreground: #1c1917;
  --destructive: #dc2626;
  --destructive-foreground: #fafafa;
  --muted: #f5f5f4;
  --muted-foreground: #78716c;
  --accent: #fef2f2;
  --accent-foreground: #1c1917;
  --card: #ffffff;
  --card-foreground: #1c1917;
  --popover: #ffffff;
  --popover-foreground: #1c1917;
  --border: #e7e5e4;
  --input: #e7e5e4;
  --ring: #e11d48;
}

.dark {
  --background: #1c1917;
  --foreground: #fafaf9;
  --primary: #fb7185;
  --primary-foreground: #1c1917;
  --secondary: #292524;
  --secondary-foreground: #fafaf9;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafaf9;
  --muted: #292524;
  --muted-foreground: #a8a29e;
  --accent: #292524;
  --accent-foreground: #fafaf9;
  --card: #1c1917;
  --card-foreground: #fafaf9;
  --popover: #1c1917;
  --popover-foreground: #fafaf9;
  --border: #292524;
  --input: #292524;
  --ring: #fb7185;
}
